body {
    /*background-color: rgb(7, 46, 80); */
    background-image: url(../static/adelin-preda--tOr_T4qTpQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ededed;
}
.container{
    opacity: 0;
    animation: fadeIn 1s ease-out forwards, slideInContainer 1s ease-out forwards; /* Apply multiple animations to the container */
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInContainer {
    from {
      transform: translateY(-50px); /* You can adjust the translateY value for a smoother appearance */
    }
    to {
      transform: translateY(0);
    }
  }
.form-container {
    width: 40%;
    margin: 0px auto;
    margin-top: 100px;
    grid-template-columns: 1fr;


}

.form-section {
    display: block; /* Changed to display vertically in one column */
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

.form-column {
    width: 100%; /* Make each column take up 100% width */
    padding: 10px;
    margin-right: 0; /* Remove right margin for better spacing */
}

label {
    display: block;
    font-weight: bold;
    text-align: center;
}

input {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid #00abf0;
    outline: none;
    color: white;
    font-size: 15px ;
}

textarea {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #00abf0;
    outline: none;
    resize: vertical; /* Allow vertical resizing for the textarea */
    font-size: 15px;
    color: white;
}
.icon-text-container{
    text-align: center;
}

.t-form{
    margin-left: 5px;
}
.btn-box a {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 160px;
    height: 100%;
    margin-top: 30px;
    background: transparent;
    border: 1px solid #00abf0;
    border-radius: 6px;
    font-size: 16px;
    color: #00abf0 !important; 
    font-weight: 500; 
    letter-spacing: 1px;
}

@media (max-width: 932px) {
    .form-column {
        width: 100%;
    }
    .form-container{
        width: 90%;
    }
    .icon-text-container{
        text-align: center;
    }
    label{
        text-align: center;
    }
}